.login{
    background: linear-gradient(
        rgba(255,255,255,0.5),
        rgba(255,255,255,0.5)
    ), url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp2081246.jpg&f=1&nofb=1");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    font-weight: 400;

    height: calc(100vh - 10px);
}
.loginTitle{
    font-size: 50px;
}
.loginForm{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.loginForm > label{
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}
.loginInput{
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 10px;
}
.loginInput:focus{
    outline: none;
}
.loginButton{
    margin-top: 20px;
    cursor: pointer;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(201, 80, 80);
}
.loginRegisterButton{
    text-decoration: none;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: teal;
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 10px;
}
