.manga{
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin: 20px;
}
.onePiece > img{
    margin-top: 5px;
    margin-left: 20px;
    height: 200px;
    width: 300px;
}
.hxh > img{
    margin-left: 35px;
    height: 240px;
    width: 300px;
}
.monster > img{
    margin-left: 25px;
    height: 240px;
    width: 300px;
}
.vagabond >img{
    margin-left: 25px;
    height: 240px;
    width: 300px;
}
.onePiece Button{
    margin-left: 80px;
}
.hxh Button{
    margin-left: 110px;
}
.monster Button{
    margin-left: 100px;
}
.vagabond Button{
    margin-left: 98px;
}