.about{
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp8595892.jpg&f=1&nofb=1");
    background-size: cover;
    height: 80vh;
    margin-top: -70px;    
}
.aboutTitle{
    color: white;
    font-size: 50px;
    position: absolute;
    top: 30px;
    margin-left: 10px; 
    margin-right: 60%;
}
.para{
    color: rgb(255, 255, 255);
    font-size: 21px;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    position: relative;
    font-weight: 400;
    top: 10px;
    left: 10px;
}
.subPara{
    position: relative;
    top: 20px;
    left: 10px;
    font-size: 35px;
}
.footerContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    bottom: 20px;
    font-size: 25px;
    left: 44%;
}
.icons{
    display: flex;
    flex-direction: row;
    gap: 40px;
}